/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.b{
  width: 100%;
  display: flex;
}

.block{
  width: 56%;
  height: 500px;
  /* border: 1px solid black; */
  margin-left: 10%;
  margin-top: 50px;
  background-color: rgb(247, 153, 118);
  color: white;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: 'Times New Roman', Times, serif;
}
.z{
  width: 30%;
}
.z img{
  width: 500px;
  height: 600px;
}
h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 3px 3px rgb(15, 135, 203);
  margin-top: 30px;
}
.sec1{
  margin-left: 90px;
  margin-top: 40px;
  width: 500px;
  /* border: 1px solid black; */
  
}
input{
  width: 170px;
  height: 24px;  
  
}
.sbt{
  width: 100px;
  height: 31px;
  margin-left: 30px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(215, 205, 205);
}
table{
  width: 500px;
  margin-top: 10px;

}
th{
  width: 170px;
  /* background-color: yellow; */
  height: 30px;
  font-size: 20px;
  color: black;
  
}
.a{
  width: 60px;
}